/*orden correcto de hoja de estilos*/
/*etiquetas  orden alfabético*/
/*identificadores*/
/*clases*/
/*pseudoelementos*/

body 
{
	/*atributos:valor;*/
	background: rgb(255,255,255); /*fondo*/
	/*background: red; /*fondo*/
	color: #000000; /*letra*/
	/*color: white; /*letra*/
	/*color: hotpink;*/
	max-width: 1024px; /*ancho maximo*/
	margin: 0 auto; /*Primer parametro alineacion vertical, segundo parametro alineacion horizontal*/
}

header
{
	background: blue; /*fondo*/
	border: 1px solid black; /*alrededor*/
	border-radius: 5px;	/*esquinas*/
	color: white; /*letra*/
	box-shadow: 5px 5px 10px black;
}

header h1
{
	text-shadow: 5px 5px 10px black;
	text-align: center;
}

header img
{
	float: right;
	margin-right: 20px;
	margin-top: 25px;
	width: 80px;
}

header nav ul li 
{
	background: white;
	border-radius: 5px;
	box-shadow: -5px -5px 10px black; /*sombra de caja*/
	/*border: 1px solid yellow;*/
	color: black;
	display: inline-block; /*rompe caja*/
	margin: 0px 30px 0px 30px;
	padding: 10px;

}

header nav ul li:hover /*cuando al li le pones el mouse encima*/
{
	background: black;
	color: white;
}

